<!DOCTYPE html>
    <html lang="en" id="tagid">
    <head>
        <meta charset="UTF-8">


        <style> 
            table, th, td {
                border: 1px solid white;
                
            }

            tr:nth-child(even){background-color: #f2f2f2;}
        </style>

        <!--
        Use a content security policy to only allow loading images from https or from our extension directory,
        and only allow scripts that have a specific nonce.
        -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'none'; img-src ${webview.cspSource} https:; script-src 'nonce-${nonce}';">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VSCode Heap Visualizer</title>
    </head>
    <body>
    <div class="container">
        <div class="table-responsive" style="overflow-x:auto;">
            <h1>Fuck</h1>
                <br />

                <table class="table table-bordered table-striped" id="vsptr_table">
                    <tr>
                        <th>id</th>
                        <th>addr</th>
                        <th>refCount</th>
                        <th>type</th>
                    </tr>
    
                </table>
        </div>
    </div>
    <script nonce="${nonce}" src="${scriptUri}"></script>
    </body>
</html>

<script>
        const tableContent = heap.VSPtr.reduce((acc, data) => {
      return `
        ${acc}
        <tr>
          <td>${data.id}</td>
          <td>${data.addr}</td>
          <td>${data.refCount}</td>
          <td>${data.type}</td>
        </tr>
      `;
    }, '');
</script>