body {
    background-color: #254925;
} 


#title {
    color: black;
}

#default_port {
    position: absolute;
    left: 250px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: black;
}

#default_ip {
    position: absolute;
    left: 250px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    top: 80px;
    color : black
}

#connection{
    position: absolute;
    left: 250px;
    top: 250px;
}


#ipAddress{
    position: absolute;
    left: 50px;
    top: 75px;

}

#labelIpAddress{
    position: absolute;
    left: 50px;
    top: 55px;
}



#password{
    position: absolute;
    left: 50px;
    top: 140px
}

#labelPassword{
    position: absolute;
    left: 50px;
    top: 120px;
}


#port{
    position: absolute;
    left: 50px;
    top: 205px;
}

#labelPort{
    position: absolute;
    left: 50px;
    top: 185px;
}