
table {
    border-collapse: collapse;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    
}


th, th{
    border: 1px solid;
    padding: 10px;
    min-width: 150px;
    background: white;
    box-sizing: border-box;
    text-align: center;
}

