

#title {
    color: white;
    position: absolute;
    left: 100px;
}

#default_port {
    position: absolute;
    left: 50px;
    top: 90px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color:white;
}

#default_ip {
    position: absolute;
    left: 53px;
    top: 140px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color : white
}

#defualt_password {
    position: absolute;
    left: 53px;
    top: 190px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color : white


}

#connection{
    position: absolute;
    left: 53px;
    top: 530px;
    width: 135px;
    height: 40px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    background-color: rgb(41, 179, 23);
}


input{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    width: 240px;
    height: 35px;
}


#ipAddress{
    position: absolute;
    left: 50px;
    top: 270px;
 


}

#labelIpAddress{
    position: absolute;
    left: 53px;
    top: 230px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}


#password{
    position: absolute;
    left: 53px;
    top: 470px;

}

#labelPassword{
    position: absolute;
    left: 53px;
    top: 430px;
    font-size: 30px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#port{
    position: absolute;
    left: 50px;
    top:370px;

    
}

#labelPort{
    position: absolute;
    left: 53px;
    top: 330px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-weight: bold;
}