<!DOCTYPE html>
		<html>
			<body>
		
				<head>
            
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <link rel="stylesheet" type="text/css" href="./styleRemoteMemory.css">
					<title >REMOTE GARBAGE COLLECTOR</title>
				</head>
		
				<h1 id="title"> REMOTE MEMORY </h1>
		
				<button id='connection' type="button" onclick="initClient()" >
					Connection
				</button>


				<p1 id="default_port"> Default PORT : </p1>
				<p1 id="default_ip" > Default Ip Address : 127.0.0.1</p1>
			
				<form>
		
					<label for="ipAddress" id="labelIpAddress"> Ip Address</label><br>
					<input type="text" id="ipAddress" name="ipAddress" ><br>
		
		
					<label for="password" id="labelPassword"> password</label><br>
					<input type="password" id="password" name="password" pattern=".{6,}"><br>
		
		
					<label for="port" id="labelPort"> Port</label><br>
					<input type="text" id="port" name="port" ><br>
		
		
		
		
				</form>
			
			
				<label id="name"></label>
			
			
				<script type="text/javascript">

					

					function initClient(){

					}
				
				</script>
		
				<script>
				
                </script>
                

		
            </body>
            
		</html>